<div class="modal-header">
    <span class="modal-title"><b>Delivery Order </b></span>
    <div style="float:right"> <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" ng-click="cancel()"></span></div>
</div>
<div class="modal-body">

</div>
<div class="modal-footer">
    <button style="float:left" class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    <button style="float:right" class="btn btn-primary" type="button" ng-click="create()">Create</button>
</div>
