
<div class="modal-header">
    <span class="modal-title">Delivery Order: <b>{{load.who}} </b></span>
    <div style="float:right"> <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" ng-click="cancel()"></span></div>
</div>
<div class="modal-body">
  <div class="row">
    <load-details load="load"></load-details>
  </div>

  <hr>
  <div class="row contactPadding">
    <form name="contactForm">
      <div class="form-group" ng-class="{'has-error':contactForm.email.$invalid} ">
        <label for="exampleInputEmail1">Email to send DO and Notifications</label>
        <input type="email" name="email" ng-model="load.deliveryOrderContact.email" class="form-control" id="exampleInputEmail1" placeholder="Email" required>
      </div>
      <div class="form-group" ng-class="{'has-error':contactForm.phone.$invalid}">
        <label for="phone">Phone to Contact</label>
        <input type="text" name="phone" ng-model="load.deliveryOrderContact.phone" class="form-control" id="phone" ui-mask="(999)999-9999" placeholder="(xxx)xxx-xxxx" required>
      </div>
      <div class="form-group" ng-class="{'has-error':contactForm.phone.$invalid}">
        <label for="phone">Special notes on delivery time and instructions</label>
        <textarea class="form-control" ng-model="load.deliveryOrderContact.instructions" rows="3"></textarea>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
    <button style="float:left" class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    <button style="float:right" class="btn btn-primary" type="button" ng-click="send()" ng-disabled="contactForm.$invalid">Send</button>
</div>
