<div class="container-fluid">

  <br>
  <tabset type="tabs">
    <tab>
      <tab-heading><span>Companies <span class="badge">{{allCompanies.length}}</span></span></tab-heading>
      <div class="panel panel-default">
        <table ng-table="tableParams" show-filter="true" class="table table-responsive table-hover">
          <tr ng-repeat="company in $data">
            <td><span ng-class="company.favorite? 'glyphicon glyphicon-star':'glyphicon glyphicon-star-empty' " aria-hidden="true" ng-click="toggleFavorite(company._id)"></span></td>
            <td data-title="'Name'" filter="{ 'name': 'text' }">
              <b>{{company.name}}</b>
            </td>
            <td data-title="'Location'">
              {{company.location}}
            </td>
            <td data-title="'Contact'">
              {{company.phone | tel}}
            </td>
            <td data-title="'Edit'">
              <a ng-click="editCompany(company._id)"><i class="fa fa-pencil-square-o fa-lg"></i></a>
            </td>
            <td data-title="'Archive'">
              <a ng-click="archiveOne(company._id)"><i class="fa fa-lg fa-archive"></i></a>
            </td>
          </tr>
        </table>
      </div>

      <div class="panel panel-default">
        <div class="panel panel-heading">
          <span>Trucking Company Management</span>
        </div>
        <div class="panel-body panel">
        <table class="table">
          <tr><th colspan="3">Add New Company</th><th></th></tr>
          <tr>
            <td>
              <input name="name" type="text" class="form-control" size="10" ng-model="newOne.name"
                     placeholder="Company name" required>
            </td>
            <td>
              <input name="location" type="text" class="form-control" size="10" ng-model="newOne.location"
                     placeholder="Location" required>
            </td>
            <td>
              <form name="newCompany">
                <div class="form-inline">
                  <div class="form-group" ng-class="{'has-error': newCompany.phone.$invalid}">
                    <label for="phone">Phone:</label>
                    <input name="phone" id="phone" type="tel" class="form-control" size="13" ng-model="newOne.phone"
                           ui-mask="(999) 999-9999" placeholder="(xxx) xxx-xxxx" required >
                  </div>
                  <div class="form-group" ng-class="{'has-error': newCompany.fax.$invalid}">
                    <label for="fax">FAX:</label>
                    <input name="fax" id="fax" type="tel" class="form-control" size="13" ng-model="newOne.fax"
                           ui-mask="(999) 999-9999" placeholder="(xxx) xxx-xxxx" required >
                  </div>
                  <div class="form-group" ng-class="{'has-error': newCompany.email.$invalid}">
                    <label for="email">Email:</label>
                    <input name="email" id="email" type="email" class="form-control" ng-class="" size="30" ng-model="newOne.email"
                           placeholder="email" required >
                  </div>
                </div>
              </form>
            </td>
            <td>
              <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="addCompany()" ng-disabled="newCompany.$invalid">
                <span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>Add</button>
            </td>
          </tr>
          <tr><th colspan="3">Admin Task</th><th></th></tr>
          <tr>
            <td colspan="3"><button class="btn btn-sm btn-default" type="button" ng-click="archive()"><i class="fa fa-lg fa-archive"></i> Save All Companies as Files</button>
              <button class="btn btn-sm btn-default" type="button" ng-click="extract()"><i class="fa fa-lg fa-upload"></i> Load All Companies from Files</button>
            </td>
            <td><button class="btn btn-sm btn-default" type="button" ng-click="getArchiveList()"><i class="fa fa-lg fa-upload"></i> Show Archive files</button></td>
          </tr>
          <tr ng-repeat="file in files">
            <td colspan="3">{{file}}</td>
            <td><button class="btn btn-sm btn-default" type="button" ng-click="extractOne(file)"><i class="fa fa-lg fa-upload"></i> Load</button></td>
          </tr>
        </table>
        </div>
      </div>
    </tab>
    <tab ng-repeat="(id, detail) in companiesOpened " active="detail.active">
      <tab-heading><span>{{detail.data.name}}</span>&nbsp<a ng-click="closeTab(id)"><i class="fa fa-times fa-lg"></i></a></tab-heading>
      <div ng-controller="CompanyDetailsCtrl as dCtrl" ng-init="dCtrl.setCompany(detail.data)" ng-include="'app/trucking-company/company-details/company-details.html'"></div>
    </tab>

  </tabset>

  <div>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout='3000' close="closeAlert()">
      {{alert.msg}}
    </alert>
  </div>



</div>
