<div class="modal-header">
    <span class="modal-title"><b>Customer Settings for {{customer.name}}</b></span>
    <div style="float:right"> <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" ng-click="cancel()"></span></div>
</div>
<div class="modal-body">

    <table class="table">
        <tr class="info">
            <th colspan="3">FTL Fees</th>
        </tr>
        <tr ng-repeat="fee in settings.ftlSettings.brokerFees">
            <th>{{fee.name}}</th>
            <td><input type="number" class="form-control" size="13" ng-model="fee.charge"></td>
            <td></td>
        </tr>
        <tr class="info">
            <th colspan="3">LTL Fees</th>
        </tr>
        <tr ng-repeat="fee in settings.ltlSettings.brokerFees">
            <th>{{fee.name}}</th>
            <td><input type="number" class="form-control" size="13" ng-model="fee.charge"></td>
            <td></td>
        </tr>
        <tr class="info">
            <th colspan="3">Air Fees</th>
        </tr>
        <tr ng-repeat="fee in settings.airSettings.brokerFees">
            <th>{{fee.name}}</th>
            <td><input type="number" class="form-control" size="13" ng-model="fee.charge"></td>
            <td></td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button style="float:left" class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
    <button style="float:right" class="btn btn-primary" type="button" ng-click="ok()">Save</button>
</div>
