<div class="modal-header">
    <span class="modal-title"><b>Customer Settings for {{customer.name}}</b></span>
    <div style="float:right"> <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" ng-click="cancel()"></span></div>
</div>
<div class="modal-body">
    <uib-tabset>
        <uib-tab heading="FTL Broker Fee">
            <fee-structure broker-fee="settings.ftlSettings.brokerFee"></fee-structure>
        </uib-tab>
        <uib-tab heading="LTL Broker Fee">
            <fee-structure broker-fee="settings.ltlSettings.brokerFee"></fee-structure>
        </uib-tab>
        <uib-tab heading="AIR Broker Fee ">
            <fee-structure broker-fee="settings.airSettings.brokerFee"></fee-structure>
        </uib-tab>
    </uib-tabset>

</div>
<div class="modal-footer">
    <button style="float:left" class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
    <button style="float:right" class="btn btn-primary" type="button" ng-click="ok()">Save</button>
</div>
