<div class="col-md-2 map-nav-padding">
    <ul class="list-group">
        <li class="list-group-item list-group-item-info"><b>Load Types</b></li>
        <li class="list-group-item"><input type="checkbox" ng-model="filters.types.ftl" ng-value="true" ng-change="fetch()"> FTL</li>
        <li class="list-group-item"><input type="checkbox" ng-model="filters.types.ltl" ng-value="true" ng-change="fetch()"> LTL</li>
        <li class="list-group-item"><input type="checkbox" ng-model="filters.types.air" ng-value="true" ng-change="fetch()"> AIR</li>
        <li class="list-group-item list-group-item-info"><b>Period</b></li>
        <li class="list-group-item"><input type="radio" ng-model="filters.period" ng-value="1" name="period" ng-change="fetch()"> Today</li>
        <li class="list-group-item"><input type="radio" ng-model="filters.period" ng-value="3" name="period" ng-change="fetch()"> Last 3 Days</li>
        <li class="list-group-item"><input type="radio" ng-model="filters.period" ng-value="7" name="period" ng-change="fetch()"> Last week</li>
        <li class="list-group-item"><input type="radio" ng-model="filters.period" ng-value="-1" name="period" ng-change="fetch()"> All</li>
        <li class="list-group-item list-group-item-info"><b>Status</b></li>
        <li class="list-group-item"><input type="checkbox" ng-model="filters.status.open" ng-value="true" ng-change="fetch()"> Open</li>
        <li class="list-group-item"><input type="checkbox" ng-model="filters.status.filled" ng-value="true" ng-change="fetch()"> Filled</li>
        <li class="list-group-item"><input type="checkbox" ng-model="filters.status.paid" ng-value="true" ng-change="fetch()"> Paid</li>
        <li class="list-group-item list-group-item-info"><b>Query</b></li>
        <li class="list-group-item"><button class="btn btn-default" type="button" ng-click="fetch()"> Fetch</button></li>
    </ul>
</div>
<div id="map_canvas" class="col-md-10 angular-google-map-container">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds" >
        <ui-gmap-markers models="loadMarkers" coords="'self'" icon="'icon'" click="onClick" doCluster="true">
            <ui-gmap-windows show="show">
                <div ng-non-bindable>{{title}}</div>
            </ui-gmap-windows>
        </ui-gmap-markers>
    </ui-gmap-google-map>
</div>

