<br>
<div class="container">

  <div class="col-md-12">
    <div class="col-md-3">
      <div class="form-group">
        <label for="freightInput">Freight Fee</label>
        <input type="number" class="form-control" id="freightInput" ng-model="freightFee" placeholder="0.00" ng-change="calc()">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="brokerFeeInput">Brokerage Fee</label>
        <input type="number" class="form-control" id="brokerFeeInput" ng-model="brokerageFee" placeholder="0.00" ng-change="calc()">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="insuranceInput">Insurance</label>
        <input type="number" class="form-control" id="insuranceInput" ng-model="insuranceFee" placeholder="0.00" ng-change="calc()">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="totalFeesInput">Total Fees</label>
        <input type="number" class="form-control" id="totalFeesInput" disabled ng-model="totalFees" placeholder="0.00" ng-change="calc()">
      </div>
    </div>

  </div>

  <div class="col-md-12">
  <table class="table table-striped">
    <tr>
      <th class="col-md-2">DDP($)</th>
      <th class="col-md-1">Adjusted($)</th>
      <th class="col-md-1">FOB</th>
      <th class="col-md-2">Duty Rate</th>
      <th class="col-md-1">Duty</th>
      <th class="col-md-1">HMF Duty</th>
      <th class="col-md-1">MPF</th>
      <th class="col-md-2">Sub Total</th>
    </tr>
    <tr ng-repeat="row in rows">
      <td><input type="number" class="form-control" ng-model="row.ddp" placeholder="0.00" ng-change="calc()"></td>
      <td>{{row.adjusted | currency:$:2}}</td>
      <td>{{row.fob | currency:$:2}}</td>
      <td><input type="number" class="form-control" ng-model="row.dutyRate" placeholder="0.00" ng-change="calc()"></td>
      <td>{{row.duty | currency:$:2}}</td>
      <td>{{row.hmfDuty | currency:$:2}}</td>
      <td>{{row.mpfDuty | currency:$:2}}</td>
      <td>{{row.subTotal | currency:$:2}}</td>
    </tr>
    <tr>
      <th colspan="4" align="right"></th>
      <td>Duty: {{totalDuty | currency:$:2}}</td>
      <td>{{totalHMF | currency:$:2}}</td>
      <td>{{totalMPF | currency:$:2}}</td>
      <td>Total Duty:<b>{{sum | currency:$:2}}</b></td>
    </tr>
  </table>
  </div>

</div>
