<br>
<div class="container">

  <div class="col-md-12">
    <div class="col-md-2">
      <div class="form-group">
        <label for="freightInput">Freight Fee</label>
        <input type="number" class="form-control" id="freightInput" ng-model="freightFee" placeholder="0.00" ng-change="calc()">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="brokerFeeInput">Brokerage Fee</label>
        <input type="number" class="form-control" id="brokerFeeInput" ng-model="brokerageFee" placeholder="0.00" ng-change="calc()">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="insuranceInput">Insurance</label>
        <input type="number" class="form-control" id="insuranceInput" ng-model="insuranceFee" placeholder="0.00" ng-change="calc()">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="totalFeesInput">Total Fees</label>
        <input type="number" class="form-control" id="totalFeesInput" disabled ng-model="totalFees" placeholder="0.00" ng-change="calc()">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="totalFeesInput">Total Duty</label>
        <span class="form-control"><b>{{sum | currency:$:2}}</b></span>
      </div>
    </div>

  </div>
  <div class="col-md-12">
    <div class="col-md-2"><b>Type:</b></div>
    <div class="form-group col-md-10" >
      <div class="radio-inline">
        <label>
          <input type="radio" name="type" id="optionsRadios1" ng-model="ddpType" value="ocean" ng-change="calc()"> Ocean
        </label>
      </div>
      <div class="radio-inline">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" ng-model="ddpType" value="other" ng-change="calc()">
          Rail/Truck/Air
        </label>
      </div>
    </div>
  </div>


  <div class="col-md-12">
    <table class="table table-striped">
      <tr>
        <th></th>
        <th class="col-md-2">DDP($)</th>
        <th class="col-md-1">Adjusted($)</th>
        <th class="col-md-1">FOB</th>
        <th class="col-md-2">Duty Rate (%)</th>
        <th class="col-md-1">Duty</th>
        <th class="col-md-1">HMF Duty</th>
        <th class="col-md-1">MPF</th>
        <th class="col-md-2">Sub Total By Line</th>
      </tr>
      <tr ng-repeat="row in rows track by $index">
        <td>#{{$index+1}}</td>
        <td><input type="number" class="form-control" ng-model="row.ddp" placeholder="0.00" ng-change="calc()"></td>
        <td>{{row.adjusted | currency:$:2}}</td>
        <td>{{row.fob | currency:$:2}}</td>
        <td><input type="number" class="form-control" ng-model="row.dutyRate" placeholder="0.00" ng-change="calc()"></td>
        <td>{{row.duty | currency:$:2}}</td>
        <td>{{row.hmfDuty | currency:$:2}}</td>
        <td>{{row.mpfDuty | currency:$:2}}</td>
        <td>{{row.subTotal | currency:$:2}}</td>
      </tr>
      <tr>
        <td colspan="9">
          <button class="btn btn-sm btn-default" type="button" ng-click="addRows()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add more lines</button>
        </td>
      </tr>
      <tr>
        <td colspan="5" align="right">Sub Totals</td>
        <td>{{totalDuty | currency:$:2}}</td>
        <td>{{totalHMF | currency:$:2}}</td>
        <td>{{totalMPF | currency:$:2}}</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="8" align="right"><b>Total Duty:</b></td>
        <td><b>{{sum | currency:$:2}}</b></td>
      </tr>
    </table>
  </div>
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item">HMF rate is {{hmf * 100}}%</li>
      <li class="list-group-item">MPF rate is {{mpf * 100}}%</li>
      <li class="list-group-item">Minimum/Maximum of Total MPF duty are {{minMPF | currency:$:2 }}, {{maxMPF | currency:$:2}} respectively</li>
    </ul>
  </div>

</div>
