<br>
<div class="container">

    <tabset type="tabs">

        <tab heading="Loads">
            <br>
            <div class="row">
                <div class="col-md-9">
                    <button class="btn btn-sm btn-default" type="button" ng-click="newFTLLoad()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> FTL load</button>
                    <button class="btn btn-sm btn-default" type="button" ng-click="newFreightLoad()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> LTL load</button>
                    <button class="btn btn-sm btn-default" type="button" ng-click="newAirLoad()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Air load</button>
                </div>
                <div class="col-md-3" ng-hide="true">
                    <button style="float:right" class="btn btn-sm btn-primary" type="button" ng-click="loadLoads()"><span class="glyphicon glyphicon-refresh"></span></button>
                </div>

            </div>
            <br>
            <table ng-table="tableParams" show-filter="true" class="table table-responsive table-hover">
                <tr ng-repeat="load in $data">
                    <td><load-type type="load.loadType"></load-type></td>
                    <td data-title="'Consignee'" filter="{ 'who': 'text' }">
                        {{load.who}}
                    </td>
                    <td data-title="'To'">
                        {{load.shipTo.location | location: true}}
                    </td>
                    <td data-title="'From'">
                        {{load.shipFrom.location | location: true}}
                    </td>
                    <td data-title="'Created'">
                        {{load.createdAt | date:'short'}}
                    </td>
                    <td data-title="'Delivery By'">
                        {{load.expectedBy | date:'short'}}
                    </td>
                    <td data-title="'Status'">
                        {{load.status }}
                    </td>
                    <td data-title="'Description'">
                        <span>{{load.description}}</span>
                    </td>
                    <td data-title="'Edit'">
                        <a ng-click="editLoad(load._id, load.loadType)"><i class="fa fa-pencil-square-o fa-lg"></i></a>
                    </td>
                </tr>
            </table>
        </tab>

        <tab ng-repeat="(id, item) in loadsOpened.ftl" active="item.active">
            <tab-heading><load-type type="item.data.loadType"></load-type>
              <span>{{item.data.who }}</span>&nbsp<a ng-click="closeTab(id, 'FTL')"><i class="fa fa-times fa-lg"></i></a>
            </tab-heading>
            <div ng-include="'app/loads/ftl/ftl.html'" ng-controller="FtlCtrl as ftlCtrl" ng-init="ftlCtrl.init(item.data)"></div>
        </tab>
      <tab ng-repeat="(id, item) in loadsOpened.ltl" active="item.active">
        <tab-heading><load-type type="item.data.loadType"></load-type>
          <span>{{item.data.who }}</span>&nbsp<a ng-click="closeTab(id, 'LTL')"><i class="fa fa-times fa-lg"></i></a></tab-heading>
        <div ng-include="'app/loads/freight/freight.html'" ng-controller="FreightCtrl as freightCtrl" ng-init="freightCtrl.init(item.data)"></div>
      </tab>

</div>
