<div ng-include="'components/navbar/navbar.html'"></div>

<br>
<div class="container">

    <tabset type="tabs">

        <tab heading="FTL">
            <br>
          <div ng-include src="'app/loads/ftl/ftl.html'" ng-controller="FtlCtrl as ftlCtrl" ng-init="ftlCtrl.init(ftlLoad)"></div>
        </tab>

        <tab heading="LTL">
        </tab>

        <tab heading="Loads">
            <table ng-table="tableParams" show-filter="true" class="table table-responsive table-hover">
                <tr>
                    <th>Type</th>
                    <th>Customer</th>
                    <th>To</th>
                    <th>From</th>
                    <th>Requested on</th>
                    <th>Status</th>
                    <th>Load Description</th>

                </tr>

                <tr ng-repeat="load in $data">
                    <td>FTL</td>
                    <td data-title="'Who'" filter="{ 'name': 'text' }">
                        {{load.who}}
                    </td>
                    <td data-title="'To'">
                        {{load.shipTo.location | location: true}}
                    </td>
                    <td data-title="'From'">
                        {{load.shipFrom.location | location: true}}
                    </td>
                    <td data-title="'Created'">
                        {{load.createdAt | date:'short'}}
                    </td>
                    <td data-title="'Status'">
                        {{load.source }}
                    </td>
                    <td data-title="'Description'">
                        <span>{{load.description}}</span>
                    </td>
                </tr>
            </table>
            <div class="row">
                <div class="col-md-3">
                    <button class="btn btn-sm btn-primary" type="button" ng-click="createFTLLoad()">Add</button>
                    <button class="btn btn-sm btn-primary" type="button" ng-click="loadLoads()">Query</button>
                </div>
                <div class="col-md-9">

                </div>
            </div>
        </tab>

</div>
