<div class="container">
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="1000">{{alert.msg}}</uib-alert>
    <br>
    <button type="button" class="btn btn-default btn-sm" ng-click="extract()">Test Extract</button>
    <button type="button" uib-tooltip="Add Alert" class="btn btn-default btn-sm" ng-click="addAlert()">Add Alert</button>
    <br>
</div>


<div class="container">
<br>
    <button type="button" class="btn btn-default btn-sm" ng-click="transitTime()">Test UPS Transit Time</button>
    <button type="button" class="btn btn-default btn-sm" ng-click="rates()">Test UPS Rates</button>
<br>
<load-status load="load"></load-status>

</div>

<div class="container">
  <br>
  <button type="button" class="btn btn-default btn-sm" ng-click="promiseTest()">Test Promise</button>
  <br>
</div>

<div class="container">
    <br>
    <button type="button" class="btn btn-default btn-sm" ng-click="archive()">Test Archives</button>
    <br>
</div>




<div class="modal-body" print-section="">
    <div class="form-inline">
        <div class="form-group">
            <label>Counter:</label>
            <input type="text" ng-model="counterName" class="form-control" placeholder="counter name">
        </div>
        <button type="button" class="btn btn-default btn-sm" ng-click="add()">Add New Counter</button>
    </div>
    <br>{{counterName}}
  <table class="table table-bordered">
    <tr>
      <th>Counter Name</th> <th>#</th><th></th>
    </tr>
    <tr ng-repeat="counter in counters">
      <th class="col-md-2">{{counter.name}}</th>
      <td>{{counter.counter}}</td>
      <td><a class="btn btn-danger" ng-click="update(counter)"> Update</a><a class="btn btn-danger" ng-click="delete(counter)"> Delete</a></td>
    </tr>
  </table>
</div>

