<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <table class="table table-responsive table-bordered">
    <tr>
      <th rowspan="2" class="col-md-2"></th>
      <th ng-attr-colspan="{{ltl.zoneRateVariables.zones.length}}" align="middle" class="info center-text">
        <div ng-show="!editingZones"><span>Rate Zones</span> <a ng-click="editZones()"><i class="fa fa-pencil"></i></a></div>
        <div ng-show="editingZones"><input ng-model="zoneStrings" placeholder="Z,Z,Z"> <a ng-click="saveZones()"><i class="fa fa-floppy-o"></i></a> </div>
      </th>
    </tr>
    <tr>
      <th ng-repeat="entry in ltl.zoneRateVariables.zones" class="center-text">
        <h4><span class="label label-primary">{{entry.label}}</span></h4>
      </th>
    </tr>
    <tr><th class="info " class="col-md-1">Flat Rate Tiers <i class="fa fa-pencil"></i></th>
      <th ng-attr-colspan="{{ltl.zoneRateVariables.zones.length}}" class="info center-text"><i class="fa fa-usd"></i></th>
    </tr>
    <tr ng-repeat="entry in ltl.flatRates">
      <th class="col-md-2">{{entry.ranges[0]}} - {{entry.ranges[1]}} lbs</th>
      <td ng-repeat="rate in entry.rates"><input type="number" size="3" required ng-model="rate.rate"></td>
    </tr>
    <tr>
      <th class="info" class="col-md-1">Weight Tiers <i class="fa fa-pencil"></i></th>
      <th ng-attr-colspan="{{ltl.zoneRateVariables.zones.length}}" class="info center-text"> <i class="fa fa-usd"></i> Per {{ltl.zoneRateVariables.weightIncrement}} lbs</th></tr>
    <tr ng-repeat="entry in ltl.weightRates">
      <th class="col-md-2">{{entry.ranges[0]}} - {{entry.ranges[1]}} lbs</th>
      <td ng-repeat="rate in entry.rates"><input type="number" size="3" required ng-model="rate.rate"></td>
    </tr>
    <tr>
      <th class="info">Drop off Charges</th>
      <th class="info center-text" ng-attr-colspan="{{ltl.zoneRateVariables.zones.length}}"><i class="fa fa-usd"></i> By Operation Hours</th>
    </tr>
    <tr>
      <th>Normal Hours</th>
      <td ng-repeat="zone in ltl.zoneRateVariables.zones">
            <input type="number"  id="normalHours" placeholder="xx.00" required ng-model="zone.dropOffCharge">
        </td>
    </tr>
    <tr>
      <th>Off Hours</th>
      <td ng-repeat="zone in ltl.zoneRateVariables.zones">
          <input type="number"  placeholder="xx.00" required ng-model="zone.dropOffChargeOffhour">
      </td>
    </tr>
    <tr>
      <th>Weekend Hours</th>
      <td ng-repeat="zone in ltl.zoneRateVariables.zones">
          <input type="number" size="3" placeholder="xx.00" required ng-model="zone.dropOffChargeWeekend">
      </td>
    </tr>

    <tr>
      <th>Holidays</th>
      <td ng-repeat="zone in ltl.zoneRateVariables.zones">
          <input type="number"  placeholder="xx.00" required ng-model="zone.dropOffChargeHoliday">
      </td>
    </tr>

    <tr>
      <th class="info" ng-attr-colspan="{{ltl.zoneRateVariables.zones.length+1}}">Rates by City and ZIP Code</th>
      </tr>
    <tr>
      <th>Rates</th>
      <td ng-attr-colspan="{{ltl.zoneRateVariables.zones.length}}"> <div class="row form-inline">
        <div class="col-md-4 form-inline">
          <span>{{ltlCtrl.getRateSummary()}}</span>
          <button class="form-control glyphicon glyphicon-pencil" ng-click="ltlCtrl.openRateModal()"></button>
        </div>
        <div class="col-md-8 form-inline">
          <ng-csv-import id="ltlRateFile"
                         class="import-btn form-control"
                         content="ltlCtrl.ltlcsv.content"
                         header="ltlCtrl.ltlcsv.header" header-visible="ltlCtrl.ltlcsv.headerVisible" separator-visible="ltlCtrl.ltlcsv.separatorVisible"
                         separator="ltlCtrl.ltlcsv.separator"
                         result="ltlCtrl.ltlcsv.result">
          </ng-csv-import>
          <button class="form-control glyphicon glyphicon-import" ng-click="ltlCtrl.importLTLRates()" ng-show="ltlCtrl.ltlcsv.result">Import</button>
          <div style="float: left">
            <button class="form-control glyphicon glyphicon-download-alt" ng-csv="ltlCtrl.getLTLRates()" filename="ltl-rates.csv"></button>
          </div>
        </div>
      </div>
      </td>
    </tr>
  </table>
</div>
