
<br>
<form name="companyInfo">
<table class="table table-responsive table-striped">

  <tr>
    <th class="col-md-3">Attribute</th><th class="col-md-8">Value</th><th class="col-md-1"></th>
  </tr>
  <tr>
    <th>Name</th>
    <td>
      <div ng-class="{'has-error': companyInfo.name.$invalid}">
      <input name="name"  type="text" class="form-control" size="20" ng-model="dCtrl.company.name"
               placeholder="Company Name" required ng-change="dCtrl.change()"></div></td><td></td>
  </tr>
  <tr>
    <th>Location</th>
    <td>
      <div ng-class="{'has-error': companyInfo.location.$invalid}">
      <input name="location" type="text" class="form-control" size="20" ng-model="dCtrl.company.location"
               placeholder="street, city, zip code" required ng-change="dCtrl.change()"></div></td><td></td>
  </tr>

  <tr>
    <th>Phone</th>
    <td><div ng-class="{'has-error': companyInfo.phone.$invalid}">
      <input name="phone" type="text" class="form-control" size="13" ng-model="dCtrl.company.phone"
             placeholder="(xxx)xxx-xxxx"  required ng-change="dCtrl.change()"></div></td><td></td>
  </tr>

  <tr>
    <th>FAX</th>
    <td><div ng-class="{'has-error': companyInfo.fax.$invalid}"><input name="fax" type="text" class="form-control" size="13" ng-model="dCtrl.company.fax"
               placeholder="(xxx)xxx-xxxx"  required ng-change="dCtrl.change()"></div></td><td></td>
  </tr>

  <tr>
    <th>Email</th>
    <td><div ng-class="{'has-error': companyInfo.email.$invalid}"><input name="email" type="email" class="form-control" ng-class="" size="20" ng-model="dCtrl.company.email"
               placeholder="email" required ng-change="dCtrl.change()"></div></td><td></td>
  </tr>

  <tr>
    <th></th>
    <td><div style="float: left"><button type="button" class="btn btn-warning" ng-click="dCtrl.cancel()">Close without Saving</button></div>
      <div style="float:right"><button type="button"  class="btn btn-primary" ng-click="dCtrl.save()" ng-class="{'disabled': !companyInfo.$valid || !dCtrl.changed }">Save Company Info</button></div></td>
    <td></td>
  </tr>

</table>

  <tabset type="tabs">
    <tab >
      <tab-heading><span>FTL rates</span></tab-heading>
      <table class="table table-responsive table-striped">

        <tr>
          <th class="col-md-3">Type</th><th class="col-md-8">Fee</th><th class="col-md-1"></th>
        </tr>
        <tr>
          <th>Fuel Surcharge(%)</th>
          <td>
            <div ng-class="{'has-error': companyInfo.ftlSurcharge.$invalid}">
              <input name="ftlSurcharge" type="text" class="form-control" size="10" ng-model="dCtrl.company.ftl.fuelsurcharge"
                     placeholder="20" required></div></td><td></td>
        </tr>
        <tr>
          <th>Residential Delivery</th>
          <td><div ng-class="{'has-error': companyInfo.residentialCharge.$invalid}">
            <input name="residentialCharge" type="text" class="form-control" size="13" ng-model="dCtrl.company.ftl.residentialCharge"
                   placeholder="00.00"  required></div></td><td></td>
        </tr>

        <tr>
          <th>Regions</th>
          <td>
          <span>Los Angeles County, CA, San Diego, San Bardino, Orange County</span>
          </td>
          <td></td>
        </tr>

        <tr>
          <th>Rates by City</th>
          <td>
            <span>Define rates by cites or zip codes</span>
          </td>
          <td></td>
        </tr>
        
        </table>
    </tab>
    <tab >
      <tab-heading><span>LTL Freight rates</span></tab-heading>

    </tab>

    <tab >
      <tab-heading><span>Air Freight rate</span></tab-heading>

    </tab>

  </tabset>
</form>
