<form name="companyInfo" novalidate>
  <br>
  <table class="table table-responsive table-striped">
    <tr>
      <th class="col-md-1">Name</th>
      <td class="col-md-8">
        {{dCtrl.company.name}} <a href="" ng-click="dCtrl.editContact(dCtrl.company)"><i class="fa fa-info-circle fa-lg"></i></a>
      </td>
      <td class="col-md-3">

      </td>
    </tr>
    <tr><td colspan="3"></td></tr>
    <tr>
      <td colspan="3">
        <uib-tabset type="tabs">
          <uib-tab heading="FTL rates">
            <br><div ng-controller="CompanyFtlCtrl as ftlCtrl"
                     ng-init="ftlCtrl.setCompany(dCtrl.company)"
                     ng-include="'app/trucking-company/company-ftl/company-ftl.html'"></div>
          </uib-tab>
          <uib-tab heading="LTL Freight rates">
            <br>
            <div ng-controller="CompanyLtlCtrl as ltlCtrl"
                 ng-init="ltlCtrl.setCompany(dCtrl.company, dCtrl.company.ltl, 'LTL')"
                 ng-include="'app/trucking-company/company-ltl/company-ltl.html'"></div>
          </uib-tab>
          <uib-tab heading="Air Freight rates">
            <br>
            <div ng-controller="CompanyLtlCtrl as airCtrl"
                 ng-init="airCtrl.setCompany(dCtrl.company, dCtrl.company.air, 'Air')"
                 ng-include="'app/trucking-company/company-air/company-air.html'"></div>
          </uib-tab>
        </uib-tabset>
      </td>
    </tr>
    <tr>
      <td>
        <a class="btn btn-danger" ng-click="dCtrl.delete()"><i class="fa fa-trash-o fa-lg"></i> Delete</a>
      </td>
      <td colspan="2">
        <div style="float: right">
          <button type="button" class="btn btn-default" ng-click="dCtrl.cancel()"> <i class="fa fa-times fa-lg"></i> Close</button>
          <button type="button" class="btn btn-default" ng-click="dCtrl.save()"
                  ng-class="{'disabled': !companyInfo.$valid || !dCtrl.company.changed }"> <i class="fa fa-floppy-o fa-lg"></i> Save
          </button>
        </div>
      </td>
    </tr>
  </table>
</form>
