<form name="companyInfo" novalidate>
<br>
    <table class="table table-responsive table-striped">
        <tr>
            <th>Name</th>
            <td>
                <div ng-class="{'has-error': companyInfo.name.$invalid}">
                    <input name="name" type="text" class="form-control" size="20" ng-model="dCtrl.company.name"
                           placeholder="Company Name" required ng-change="dCtrl.change()"></div>
            </td>
            <td></td>
        </tr>
        <tr>
            <th>Location</th>
            <td>
                <div ng-class="{'has-error': companyInfo.location.$invalid}">
                    <input name="location" type="tel" class="form-control" size="20" ng-model="dCtrl.company.location"
                           placeholder="street, city, zip code" required ng-change="dCtrl.change()"></div>
            </td>
            <td></td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>
                <div ng-class="{'has-error': companyInfo.phone.$invalid}">
                    <input name="phone" type="tel" class="form-control" size="13" ng-model="dCtrl.company.phone"
                           ui-mask="(999) 999-9999" placeholder="(xxx) xxx-xxxx" required  ng-change="dCtrl.change()"></div>
            </td>
            <td></td>
        </tr>

        <tr>
            <th>FAX</th>
            <td>
                <div ng-class="{'has-error': companyInfo.fax.$invalid}">
                    <input name="fax" type="text" class="form-control" size="13" ng-model="dCtrl.company.fax"
                           ui-mask="(999) 999-9999" placeholder="(xxx) xxx-xxxx" required ng-change="dCtrl.change()"></div>
            </td>
            <td></td>
        </tr>


        <tr>
            <th>Email</th>
            <td>
                <div ng-class="{'has-error': companyInfo.email.$invalid}">
                    <input name="email" type="email" class="form-control" ng-class="" size="20" ng-model="dCtrl.company.email"
                           placeholder="email" required
                           ng-change="dCtrl.change()"></div>
            </td>
            <td></td>
        </tr>

        <tr>
            <th>Rate basis</th>
            <td>
                <div class="btn-group">
                    <label class="radio-inline">
                        <input type="radio" ng-model="dCtrl.company.rateBasis" name="rateBasisOptions"  ng-value="'city'" ng-change="dCtrl.change()"> City
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="dCtrl.company.rateBasis" name="rateBasisOptions"  ng-value="'zipCode'" ng-change="dCtrl.change()"> Zip Code
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="dCtrl.company.rateBasis" name="rateBasisOptions"  ng-value="'distance'" ng-change="dCtrl.change()"> Distance
                    </label>
                </div>
            </td>
            <td></td>
        </tr>

      <tr><td colspan="3"></td></tr>
        <tr>
            <td colspan="3">
                <tabset type="tabs">
                    <tab heading="FTL rates">
                      <br><div ng-controller="CompanyFtlCtrl as ftlCtrl"
                               ng-init="ftlCtrl.setCompany(dCtrl.company)"
                               ng-include="'app/trucking-company/company-ftl/company-ftl.html'"></div>
                    </tab>
                    <tab heading="LTL Freight rates">
                        <br>
                      <div ng-controller="CompanyLtlCtrl as ltlCtrl"
                           ng-init="ltlCtrl.setCompany(dCtrl.company, dCtrl.company.ltl, 'LTL')"
                           ng-include="'app/trucking-company/company-ltl/company-ltl.html'"></div>
                    </tab>
                    <tab heading="Air Freight rates">
                        <div ng-controller="CompanyLtlCtrl as airCtrl"
                             ng-init="airCtrl.setCompany(dCtrl.company, dCtrl.company.air, 'Air')"
                             ng-include="'app/trucking-company/company-air/company-air.html'"></div>
                    </tab>
                </tabset>
            </td>
        </tr>
        <tr>
            <td><button type="button" class="btn btn-danger" ng-click="dCtrl.delete()">DELETE</button></td>
            <td>
                <div style="float: left"><button type="button" class="btn btn-default" ng-click="dCtrl.cancel()">Close without Saving</button></div>
                <div style="float:right">
                    <button type="button" class="btn btn-default" ng-click="dCtrl.save()"
                            ng-class="{'disabled': !companyInfo.$valid || !dCtrl.company.changed }">Save Company Info
                    </button>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
</form>
