<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Trucking-Hub.com</h1>

    <p class="lead">Help local Southern California trucking companies expand via Technologies</p>
    <img src="assets/images/truck-banner.png" width="350" class="img" alt="Responsive image" alt="Trucking-Hub">
  </div>
</header>


<div class="section">
  <div class="container">
    <h3>Quick Quote</h3>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <location info="quickie.shipTo" label="'TO:'"
                  uib-tooltip="Fill the complete address for the delivery" ></location>
      </div>
      <form name="mainForm" novalidate>
        <div class="col-md-2" ng-class="{'has-error':mainForm.weight.$invalid}">
          <input type="number" class="form-control" size="6" ng-model="quickie.weight" name="weight"
                 placeholder="Total Weight" required min="1" uib-tooltip="Fill the total weight"></div>
      </form>
      <div class="col-md-4"><span>
                <button class="btn btn-default" type="button" ng-click="quickFTL()" ng-disabled="disableQuickQuote()"><i
                  class="fa fa-lg fa-ship"></i> FTL
                </button>
                <button class="btn btn-default" type="button" ng-click="quickLTL()" ng-disabled="disableQuickQuote()"><i
                  class="fa fa-lg fa-truck"></i> LTL
                </button>
                <button class="btn btn-default" type="button" ng-click="quickAIR()" ng-disabled="disableQuickQuote()"><i
                  class="fa fa-lg fa-plane"></i> AIR
                </button> <i class="fa fa-spinner fa-spin fa-2x" ng-show="quickie.processing"></i></span>
      </div>
      <div class="col-md-3">
        <b>Quote</b>:<b>
        <span style="color:green" ng-show="quickie.quote.lowest">{{quickie.quote.average | currency:"$":2}}
              <small>({{quickie.quote.lowest | currency:"$":2}} <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> {{quickie.quote.highest | currency:"$":2}})</small>
              </span></b>
        <span ng-show="isLoggedIn && quickie.quote.lowest"><a href="" ng-click="editQuickie()" ><i class="fa fa-pencil"></i></a></span>
        <small>
          <span style="color:grey" ng-show="quickie.description"><i ng-show="quickie.description"><br>{{quickie.description}}
          <i ng-show="isLoggedIn" class="fa fa-info-circle fa-lg" tooltip-placement="bottom-right" uib-tooltip-html="quickie.sourcesHtml"></i></i>
          </span>
        </small> 
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <small>1. Use location auto-completion to fill the address quickly and accurately</small>
      </div>
      <div class="col-md-2">
        <small>2. Use total weight to estimate the cost</small>
      </div>
      <div class="col-md-4">
        <small>3. Click one of the buttons to get competitive quotes offered from Trucking-Hub.com</small>
      </div>
      <div class="col-md-3">
        <small ng-hide="isLoggedIn">4. To get detailed quote and trucking arrangement, please signup, login and go to <a
          href="/loads">Loads</a></small>
        <small ng-show="isLoggedIn">4. Proceed to get the accurate quote by filling all required information for the
          load by clicking the editing icon.
        </small>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <h4><i class="fa fa-check"></i> Advanced Cloud platform</h4>

        <p>Trucking-hub.com is running on the scalable cloud platform and the latest technology stack. As a
          result, it
          provides truckers, shippers and brokers the much needed real time updates on open loads, delivery
          orders and
          other critical changes. </p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h4><i class="fa fa-check"></i> Smart sourcing capabilities</h4>

        <p>Trucking-hub.com not only enables brokers to find truckers for the shippment easily with a few
          clicks, it
          also allows truckers to find loads to improve their truck utilization rate. </p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h4><i class="fa fa-check"></i> Experience service team</h4>

        <p>In addition to the advanced platform technology, we made it even better by providing the first-class
          customer
          service to our truckers and shippers on logistics related issues.</p>
      </div>

    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">

    <p>Trucking-hub.com <i class="fa fa-copyright"></i> Copyright 2016 </p>
  </div>
</footer>
