<div class="row">
  <div class="col-md-3">
    <a href="" ng-click="viewInvoice()" uib-tooltip="After today restriction"><i class="fa fa-list-alt"></i></a><span> </span>
    <a href="" ng-click="viewDO()" uib-tooltip="After today restriction"><i class="fa fa-paper-plane-o"></i></a>
  </div>
  <div class="col-md-9">
    <div class="row"> Log: <a href=""  ng-click="toggleShowLog()"><span class="badge" >{{load.activityLog.length}}</span></a> <i ng-click="toggleShowLog()" ng-show="!showLog" class="fa fa-lg fa-plus-square-o"></i><i ng-click="toggleShowLog()" ng-show="showLog" class="fa fa-lg fa-minus-square-o"></i></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div ng-show="showLog" class="col-md-9">
    <br>
    <table  class="table table-striped table-condensed">
      <tr><th>Time</th><th>Activity</th></tr>
      <tr ng-repeat="log in load.activityLog">
        <td>{{log.time | date:'shortDate'}}</td>
        <td>{{log.activity}}</td>
      </tr>
    </table>
  </div>
</div>
