<div class="modal-header" print-section="">
    <div class="panel panel-default" >
        <div class="panel-heading panel">
            <b>{{load.who}}</b>: {{load.shipFrom.location | location: true}} <span class="glyphicon glyphicon-arrow-right"
                                                                                   aria-hidden="true"></span>
            {{load.shipTo.location | location: true}}
            <i ng-click="toggleLoadDetails(load)" class="fa fa-lg"
               ng-class="{'fa-plus-square-o':!load.showLoadDetails, 'fa-minus-square-o':load.showLoadDetails}"></i>
            <div style="float:right"><b><span style="color:green">{{load.fulfilledBy.charge | currency:"$":2}}</span></b></div>
        </div>
        <div class="panel-body panel" ng-show="load.showLoadDetails">
            <load-details load="load"></load-details>
        </div>
    </div>
</div>
<div class="modal-body" print-section="">
    <div class="panel panel-default">
        <table class="table table-hover">
            <tr>
                <th></th>
                <th>Company</th>
                <th>Trucking Quote</th>
                <th>Contact</th>
                <th>Location</th>
                <th>Select</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat-start="source in load.sources" ng-class="{'active':source.id==load.fulfilledBy.source}">
                <th class="col-md-1">
                    <i class="fa"
                       ng-class="{'fa-check':source.id==load.fulfilledBy.source, 'fa-lock': (load.status=='FILLED' && source.id==load.fulfilledBy.source)}"></i>
                </th>
                <th class="col-md-2">{{source.name}} <i ng-click="toggleSourceDetails(source)" class="fa fa-lg"
                                                        ng-class="{'fa-plus-square-o':!source.showDetails, 'fa-minus-square-o':source.showDetails}"></i>
                </th>
                <td class="col-md-1"><b>{{source.totalAmount | currency:"$":2}}</b></td>
                <td class="col-md-2">{{source.contact | tel }}</td>
                <td class="col-md-3">{{source.location}}</td>
                <td class="col-md-1">
                    <button type="button" class="btn btn-default text-success" ng-click="selectSource(source)"
                            ng-disabled="source.id==load.fulfilledBy.source">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                </td>
                <td class="col-md-2">
                    <div ng-show="source.id==load.fulfilledBy.source && load.status=='FILLED'">
                        <button type="button" class="btn btn-default text-success" ng-click="createInvoice()"><i class="fa fa-list-alt"></i></button>
                        <button type="button" class="btn btn-default text-success" ng-click="createDO()"><i class="fa fa-paper-plane-o"></i></button>
                    </div>
                </td>
            </tr>
            <tr ng-repeat-end>
                <td colspan="7" ng-show="source.showDetails">
                    <table class="table table-bordered">
                        <tr>
                            <th>Cost Items</th>
                            <th>Vendor Cost Description</th>
                            <th>Broker Adjustments</th>
                            <th>Adjusted Costs</th>
                        </tr>
                        <tr ng-repeat="entry in source.costItems track by $index">
                            <td align="right">#{{$index+1}}</td>
                            <td><b>{{entry.charge | currency:"$":2}}</b> for {{entry.description}}</td>
                            <td>
                                <div class="input-group" ng-hide="isGuest">
                                    <div class="input-group-addon">$</div>
                                    <input type="number" class="form-control" size="5" ng-model="entry.adjustment"
                                           placeholder="00.00" ng-change="recalcAdjustments(source)" ></div>
                            </td>
                            <td>{{entry.charge + entry.adjustment | currency:"$":2}}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td colspan="2" align="right">Total Trucking Cost:</td>
                            <td>{{source.baseCost | currency:"$":2}}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td colspan="2" align="right">Broker Fees</td>
                            <td>{{source.brokerFee | currency:"$":2}}</td>
                        </tr>
                        <tr>
                            <td colspan="3" align="right"><b>Total Charge</b></td>
                            <td colspan="1">{{source.totalAmount | currency:"$":2}}
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <th colspan="2">Other Potential Applicable Charges</th>
                            <td></td>
                        </tr>
                        <tr ng-repeat="entry in source.additionalCharges">
                            <td align="right"></td>
                            <td colspan="2">
                                {{entry.description}}
                            </td>
                            <td>{{entry.charge | currency:"$":2}}</td>
                        </tr>

                    </table>
                </td>
            </tr>
        </table>
    </div>

</div>
<div class="modal-footer" print-hide="">
    <div class="">
        <button style="float:left" class="btn btn-warning" type="button" ng-click="cancel()">Discard</button>
        <button style="float:left" class="btn btn-success" type="button" ng-disabled="!load.fulfilledBy.source || isGuest" ng-click="confirm()">Make Arrangement</button>
        <span ng-show="isGuest">You have to register as User to enable 1-click trucking arrangement</span>
    </div>
</div>

