<br>
<div class="container">
  <div class="panel panel-default">

    <div class="panel-heading">
      <span>Loads <span class="badge">{{loads.length}}</span>:</span>
      <button type="button" class="btn btn-default btn-link" ng-click="queryLoads(1)">Today's</button>
      <button type="button" class="btn btn-warning btn-link" ng-click="queryLoads(3)">Last 3 days </button>
      <button type="button" class="btn btn-warning btn-link" ng-click="queryLoads(7)">Last week</button>
      <button type="button" class="btn btn-danger btn-link" ng-click="queryLoads(-1)">All</button>

    </div>
    <div class="panel-body">
      <table ng-table="tableParamsLoads" show-filter="true" class="table table-responsive table-hover table-condensed">

        <tr ng-repeat="load in $data">
          <td data-title="'Type'"><load-type type="load.loadType"></load-type></td>
          <td data-title="'Shipper'" filter="{ 'who': 'text' }">
            {{load.who}}
          </td>
          <td data-title="'Delivery'">
            {{load.shipFrom.location | location: true}} <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> {{load.shipTo.location | location: true}}
          </td>
          <td data-title="'By'">
            {{load.expectedBy | date:'shortDate'}}
          </td>
          <td data-title="'Trucker'">
            {{load.fulfilledBy.name}}
          </td>
          <td data-title="'Quote'">
            <b>{{load.fulfilledBy.charge | currency:"$":2}}</b> {{load.vendorChargeAmount | currency:"$":2}}
          </td>
          <td data-title="'Sourcing'">
            <div ng-show="!load.sources || load.sources.length ==0"><a ng-click="sourcing(load)"><i class="fa fa-search"></i></a></div>
          </td>
          <td data-title="'Result'">
            <div ng-show="load.sources.length>0"><b>{{load.sources.length}} choices <a ng-click="clearSources(load)"><i class="fa fa-eraser"></i></a></b></div>
          </td>
        </tr>
        <tr ng-show="$data.length ==0">
          <td></td>
          <td colspan="6"><i class="fa fa-angle-double-right"></i> <b>No Loads found for {{searchCriteria}}</b>. Maybe expand the search time window.</td>
        </tr>
      </table>
    </div>
  </div>

</div>














