<div class="container">
  <br>
  <div class="panel panel-default">

    <div class="panel-heading">
      <button type="button" class="btn btn-default btn-link" ng-click="queryLoads('FILLED',1)">Today</button>
      <button type="button" class="btn btn-warning btn-link" ng-click="queryLoads('FILLED',3)">Last 3 days </button>
      <button type="button" class="btn btn-warning btn-link" ng-click="queryLoads('FILLED',7)">Last week</button>
      <button type="button" class="btn btn-danger  btn-link" ng-click="queryLoads('FILLED',14)">ALL</button>
    </div>
    <div class="panel-body">
      <table ng-table="tableParamsLoads" show-filter="true" class="table table-responsive table-hover">
        <tr ng-repeat="load in $data" ng-click="select(load)">
          <td data-title="'Type'" class="col-md-1">
            <load-type type="load.loadType"></load-type>
          </td>

          <td data-title="'Consignee'" filter="{ 'who': 'text' }" class="col-md-2">
            {{load.who}}
          </td>
          <td data-title="'Delivery'" class="col-md-2">
            {{load.shipFrom.location | location: true}} <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> {{load.shipTo.location | location: true}}
          </td>
          <td data-title="'Expected By'" class="col-md-2">
            {{load.expectedBy | date:'shortDate'}}
          </td>
          <td data-title="'Status'" class="col-md-5 active" >
            <load-status load="load"></load-status>
          </td>
        </tr>
        <tr ng-show="$data.length ==0">
          <td></td>
          <td colspan="4"><i class="fa fa-angle-double-right"></i> <b>No Loads found for {{searchCriteria}}</b>. Maybe expand the search time window.</td>
        </tr>
      </table>
    </div>
  </div>

</div>

