<form name="freightForm">
  <br>
  <table class="table table-striped">
    <tr>
      <th class="col-md-2">To</th>
      <td class="col-md-4">
        <location info="freightCtrl.freight.shipTo"></location>
      </td>
      <td class="col-md-2">Delivery Services</td>
      <td class="col-md-4">
        <div>
          <ui-select class="form-control col-md-10" id="deliveryServices" multiple
                     ng-model="freightCtrl.freight.shipTo.services" ng-change="freightCtrl.change()">
            <ui-select-match placeholder="Select services">{{$item.service}}
            </ui-select-match>
            <ui-select-choices repeat="entry in freightCtrl.toServices | filter: $select.search"
                               refresh="freightCtrl.refreshServices()"
                               refresh-delay="0">
              <div ng-bind-html="entry.service | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </td>
    </tr>
    <tr>
      <th class="col-md-2">From</th>
      <td class="col-md-4">
        <location info="freightCtrl.freight.shipFrom"></location>
      </td>
      <td class="col-md-2">PickUp Services</td>
      <td class="col-md-4">
        <div>
          <ui-select class="form-control col-md-10" id="pickUpServices" multiple
                     ng-model="freightCtrl.freight.shipFrom.services" ng-change="freightCtrl.change()">
            <ui-select-match placeholder="Select services">{{$item.service}}
            </ui-select-match>
            <ui-select-choices repeat="entry in freightCtrl.fromServices | filter: $select.search "
                               refresh="freightCtrl.refreshServices()"
                               refresh-delay="0">
              <div ng-bind-html="entry.service | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </td>
    </tr>

    <tr>
      <th class="col-md-2">Consignee</th>
      <td class="col-md-4">
        <div class="row" ng-class="{'has-error':freightForm.customerName.$invalid}">
          <div class="col-md-9">
            <input type="text"
                   class="form-control" id="customerName" size="20" name="customerName"
                   ng-model="freightCtrl.freight.who"
                   ng-minlength="5"
                   placeholder="Consignee name" required="" ng-change="freightCtrl.change()">
          </div>
        </div>
      </td>
      <td>Email</td>
      <td class="col-md-4">
        <div class="form-group" ng-class="{'has-error': freightForm.customerEmail.$invalid}">
          <input type="email" class="form-control" name="customerEmail" ng-model="freightCtrl.freight.email"
                 placeholder="Email" ng-change="freightCtrl.change()" required>
        </div>
      </td>
    </tr>

    <tr>
      <th>Delivery By</th>
      <td>
        <div style="display:inline-block; min-height:290px;">
          <datepicker ng-model="freightCtrl.freight.expectedBy" min-date="minDate" show-weeks="true"
                      class="well well-sm"
                      custom-class="getDayClass(date, mode)" ng-change="freightCtrl.change()">
          </datepicker>
        </div>
      </td>
      <td class="col-md-2">Notes</td>
      <td class="col-md-4">
        <div class="input-group col-md-12">
          <textarea class="form-control" id="customerNote" size="30" ng-model="freightCtrl.freight.notes" rows="10"
                    placeholder="Note name" ng-change="freightCtrl.change()"></textarea>
        </div>
      </td>
    </tr>
  </table>

  <div class="row container table-responsive">
    <form class="form-inline">
      <table class="table table-striped">
        <tr>
          <th class="col-md-1">
            <span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="freightCtrl.addLine()"></span>
          </th>
          <th class="col-md-2">Unit Weight (lbs)</th>
          <th class="col-md-1">Quantity</th>
          <th class="col-md-2">Packaging</th>
          <th class="col-md-3">W x L x H (in)</th>
          <th class="col-md-3">Description</th>

        </tr>
        <tr ng-repeat="line in freightCtrl.freight.lines track by $index">
            <td><span class="glyphicon glyphicon-remove" aria-hidden="true"
                      ng-click="freightCtrl.removeLine($index)"></span>
            </td>
            <td>
              <div class="form-group" ng-class="{'has-error':innerForm.weight.$invalid}">
                <input type="number" class="form-control" size="6" ng-model="line.weight" name="weight"
                       placeholder="weight" required min="1" ng-change="freightCtrl.computeClass(line)"></div>
            </td>
            <td>
              <div ng-class="{'has-error':innerForm.quantity.$invalid}">
                <input class="form-control" type="number" size="3" ng-model="line.quantity" min="1" name="quantity"
                       required ng-change="freightCtrl.change()">
              </div>
            </td>
            <td>
              <select class="form-control" ng-model="line.packaging" id="" ng-change="freightCtrl.prefillWL(line)">
                <option value="">-- Packaging --</option>
                <option ng-repeat="packaging in freightCtrl.packagings">{{packaging}}</option>
              </select>
            </td>
            <td>
              <div class="form-inline">
                <input class="form-control" type="text" ng-model="line.width" size="2" min="1"
                       ng-change="freightCtrl.computeClass(line)">
                <input class="form-control" type="text" ng-model="line.length" size="2" min="1"
                       ng-change="freightCtrl.computeClass(line)">
                <input class="form-control" type="text" ng-model="line.height" size="2" min="1"
                       ng-change="freightCtrl.computeClass(line)">
                <span ng-show="line.freightClass!=-1">Class: {{line.freightClass}}</span>
              </div>
            </td>
            <td><input class="form-control" type="text" ng-model="line.description" placeholder="description"
                       ng-change="freightCtrl.change()"></td>

        </tr>
      </table>
    </form>
  </div>
  <div class="row">
    <div class="col-md-3"><a class="btn btn-danger" ng-hide="freightCtrl.isNew()" ng-click="freightCtrl.delete()"><i class="fa fa-trash-o fa-lg"></i>
      Delete</a>
    </div>
    <div class="col-md-9">
      <div style="float:right">
        <button type="button" class="btn btn-default" ng-click="freightCtrl.close()"><i class="fa fa-times fa-lg"></i> Close</button>
        <button type="button" class="btn btn-default" ng-click="freightCtrl.submit()" ng-disabled="freightForm.$invalid ||!freightCtrl.freight.changed"><i class="fa fa-floppy-o fa-lg"></i> Save</button>
        <button type="button" class="btn btn-default" ng-click="freightCtrl.quote()"  ng-disabled="freightForm.$invalid || freightCtrl.freight.changed"><i class="fa fa-floppy-o fa-lg"></i> Quote</button>
      </div>
    </div>
  </div>
  <div>
  </div>
</form>
