<table class="table table-condensed table-responsive table-striped">
  <tr>
    <th class="col-xs-3">Fuel Surcharge(%)</th>
    <td class="col-xs-8">
      <div ng-class="{'has-error': companyInfo.ltlSurcharge.$invalid}">
        <input name="ltlSurcharge" type="text" class="form-control" size="10"
               ng-model="ltlCtrl.company.ltl.fuelSurcharge"
               placeholder="20" required ng-change="ltlCtrl.change()"></div>
    </td>
    <td class="col-xs-1"></td>
  </tr>
  <tr>
    <th>Residential Delivery</th>
    <td>
      <div ng-class="{'has-error': companyInfo.residentialChargeLTL.$invalid}">
        <input name="residentialChargeLTL" type="text" class="form-control" size="13"
               ng-model="ltlCtrl.company.ltl.residentialCharge"
               placeholder="00.00" required ng-change="ltlCtrl.change()"></div>
    </td>
    <td></td>
  </tr>
  <tr>
    <th>LiftGate Charge</th>
    <td>
      <div ng-class="{'has-error': companyInfo.liftGateCharge.$invalid}">
        <input name="liftGateCharge" type="text" class="form-control" size="13"
               ng-model="ltlCtrl.company.ltl.liftGateCharge"
               placeholder="00.00" required ng-change="ltlCtrl.change()"></div>
    </td>
    <td></td>
  </tr>
  <tr>
    <th>Regions</th>
    <td>
      <ui-select multiple ng-model="ltlCtrl.company.ltl.regions" ng-change="ltlCtrl.change()">
        <ui-select-match placeholder="Select regions">{{$item.county}},
          {{$item.state}}
        </ui-select-match>
        <ui-select-choices group-by="ltlCtrl.getState"
                           repeat="region in dCtrl.regions | propsFilter: {county: $select.search}"
                           refresh="dCtrl.refreshRegions()"
                           refresh-delay="0">
          <div ng-bind-html="region.county | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </td>
    <td></td>
  </tr>
  <tr>
    <th>Rates</th>
    <td> <div class="row form-inline">
      <div class="col-md-4 form-inline">
        <span>{{ltlCtrl.getRateSummary()}}</span>
        <button class="form-control glyphicon glyphicon-pencil" ng-click="ltlCtrl.openRateModal()"></button>
      </div>
      <div class="col-md-8 form-inline">
        <ng-csv-import id="ltlRateFile"
                       class="import-btn form-control"
                       content="ltlCtrl.ltlcsv.content"
                       header="ltlCtrl.ltlcsv.header" header-visible="ltlCtrl.ltlcsv.headerVisible" separator-visible="ltlCtrl.ltlcsv.separatorVisible"
                       separator="ltlCtrl.ltlcsv.separator"
                       result="ltlCtrl.ltlcsv.result">
        </ng-csv-import>
        <button class="form-control glyphicon glyphicon-import" ng-click="ltlCtrl.importLTLRates()" ng-show="ltlCtrl.ltlcsv.result">Import</button>
      </div>
    </div>
    </td>
    <td><div style="float: left">
      <button class="form-control glyphicon glyphicon-download-alt" ng-csv="ltlCtrl.getLTLRates()" filename="ltl-rates.csv"></button>
    </div></td>
  </tr>

</table>
